<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo pull-left scrollTo" href="#top">
						    <%= image_tag("logo_likelion.png") %>
						</a>
						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!--
									.nav-onepage
									Required for onepage navigation links

									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#slider">
											HOME
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#apply">
											지원방법
										</a>
									</li>
									<li><!-- 소개&목표 -->
										<a href="#introduction">
											소개&목표
										</a>
									</li>
									<li><!-- 활동-->
										<a href="#activity">
											활동
										</a>
									</li>

									<li><!-- CONTACT -->
										<a href="#footer">
											CONTACT
										</a>
									</li>
									<li><!-- BLOG -->
										<a href="http://www.likelion.org/">
											멋사 공식홈페이지
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>




			<!-- SLIDER -->
			<section id="slider" class="fullheight" style="background-image:url(<%= asset_path 'background.jpg'%>);">
				<div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						<div class="container">

							<div class="row">
								<div class="text-center col-md-8 col-xs-12 col-md-offset-2">

									<h1 class="bold font-raleway wow fadeInUp" data-wow-delay="0.4s">LIKELION &nbsp x &nbsp DGU</h1>
									<h4 class="bold font-raleway wow fadeInUp" data-wow-delay="0.4s">지원마감까지 남은 시간 </h4>


									<!-- Circle Countdown -->

									<div class="countdown circle" data-from="March 10, 2017 23:59:59"><!-- Example Date From: December 31, 2018 15:03:26 --></div>

									<a class="btn btn-default btn-lg wow fadeIn margin-top-40 scrollTo" data-wow-delay="1.5s" href="#apply"><i class="fa fa-angle-down"></i> 지원하기 &nbsp;<i class="fa fa-angle-down"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>

			</section>
			<!-- /SLIDER -->




			<!-- 지원방법 -->
			<section id="apply" class="container features" style="padding-bottom: 5px">
				<div class="container">
					<h1 align="center">멋쟁이사자가 되는법 <span class="size-18">/ How to be lion</span></h1>
					<div class="row">

						

						<div class="col-md-3">

							<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1" style="background-color:#FF4848;">
										<div class="box-icon-title">
											<i class="fa fa-check-square"></i>
											<h2>지원 시 필수조건</h2>
										</div>
										<hr/>

										 	
											   	<p>1. 개인 노트북<br>
												2. 수or목 + 토요일의 저녁시간<br>
												3. 2017년을 멋사로 불태울 <br>열정과 실행력!!
										   		</p>
											

									</div>
								</div>

								<div class="back">
									<div class="box2" style="background-color:#FF4848;">
										<h4>지원 시 필수조건</h4>
										<hr/>

										  
										   		<p>1. 개인 노트북<br>
												2. 수or목 + 토요일의 저녁시간<br>
												3. 2017년을 멋사로 불태울 <br>열정과 실행력!!
										   		</p>
											
										  
										
											<p><a class="btn btn-lg btn-primary" href="http://jasoseol.com/" role="button">자소설닷컴 바로가기</a></p>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">

							<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1" style="background-color:#FF9436;">
										<div class="box-icon-title">
											<i class="fa fa-check-square"></i>
											<h2>지원순서 1</h2>
										</div>
										<hr/>

										  <p style = "padding-top: 26px;">자소설닷컴(http://jasoseol.com)의 <br>'맞춤형 채용공고'로 들어간다.</p>

									</div>
								</div>

								<div class="back">
									<div class="box2" style="background-color:#FF9436;">
										<h4>지원순서 1</h4>
										<hr/>

										  <p style = "padding-top: 26px;">자소설닷컴(http://jasoseol.com)의 <br>'맞춤형 채용공고'로 들어간다.</p>
											<br>
											<p><a class="btn btn-lg btn-primary" href="http://jasoseol.com/" role="button">자소설닷컴 바로가기</a></p>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">

							<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1" style="background-color:#87CE00;">
										<div class="box-icon-title">
											<i class="fa fa-check-square"></i>
											<h2>지원순서 2</h2>
										</div>
										<hr/>
										<p style = "padding-top: 26px;">자소설닷컴에서 2월 25일에  <br>'멋쟁이사자처럼'을 확인한다.</p>
									</div>
								</div>

								<div class="back">
									<div class="box2" style="background-color:#87CE00;">
										<h4>지원순서 2</h4>
										<hr />
										<p style = "padding-top: 26px;">자소설닷컴에서 2월 25일에  <br>멋쟁이사자처럼을 확인한다.</p>
										<br>
										<p><a class="btn btn-lg btn-primary" href="http://jasoseol.com/" role="button">자소설닷컴 바로가기</a></p>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">

							<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1" style="background-color:#73b9dc;">
										<div class="box-icon-title">
											<i class="fa fa-check-square"></i>
											<h2>지원순서 3</h2>
										</div>
										<hr/>
										<p style = "padding-top: 10.5px; padding-bottom: 10.5px">직무에서 '동국대학교'를 찾아 들어<br>가서 마음껏 자신을 표현한다.<br>지금 GO !!</p>
									</div>
								</div>

								<div class="back">
									<div class="box2" style="background-color:#73b9dc;">
										<h4>지원순서 3</h4>
										<hr />
										<p style = "padding-top: 10.5px; padding-bottom: 10.5px">직무에서 '동국대학교'를 찾아 들어<br>가서 마음껏 자신을 표현한다.
									    </p>
										<br>
										<p><a class="btn btn-lg btn-primary" href="http://jasoseol.com/" role="button">자소설닷컴 바로가기</a></p>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<br>
				<br>
				<br>
				<center><a class="btn btn-lg btn-primary" href="http://jasoseol.com/" role="button">지원하러 가기</a></center>
				<br>
				<br>
				<br>
			</section>
			<!-- /지원방법-->









			<!-- Upcoming Events -->
			<section  id = "introduction" class="container features" align = "center">
			    <div class="row">
			        <div class="col-lg-12 text-center">
			            <div class="navy-line"></div>
			            <h1>소개&목표 <span class="size-18">/ Introduction&Goal</span><hr></h1>
			        </div>
			    </div>
			    <div class="row features-block text-center col-sm-8 col-sm-push-2">
			        <div class="features-text wow fadeInLeft">
			            <small><b>내 아이디어를 내손으로 실현한다</b></small>
			            <h2>컴퓨터를 전혀 모르는 학생들이 
			                코딩교육을 통해 원하는 IT서비스를 직접 런칭합니다.</h2>
			            <p><a href="http://likelion.org/">멋쟁이사자처럼(LIKELION)</a>에서 자체 개발된 온라인 강의 플랫폼 '클래스라이언' 을 통해 강의를 듣고 과제를 수행합니다. 이와 함께 학교별 튜터들의 진행 아래 자체 수업과 스터디를 통해 서비스 개발을 위한 능력을 함양합니다.
			       		또한, 교내외 다양한 오프라인 활동과 병행하여 함께할 동료를 찾고
			            자신이 만들고자 하는 서비스를 직접 프로그래밍 하도록 돕습니다.</p>
			            <a href="http://likelion.org/" class="btn btn-primary">멋쟁이 사자처럼 홈페이지</a>
			           

			        </div>
			        <hr>
			        <div class="col-lg-12 col-sm-12 wow fadeInRight img-responsive" vertical-align:middle; text-align:center img-align:center">
			            <img src="<%= asset_path 'intro2.png'%>" alt="dashboard" width="100%">
			        </div></center>
			    </div>
			    <br/><br/>
			</section>





			<!-- Activity -->
			<section id="activity" class="alternate">
				<div class="container vertical-align">

					<div class="row">

						<!-- RIGHT -->
						<div class="col-lg-8 col-md-9 col-sm-12 col-lg-push-2 col-md-push-2 col-sm-push-2">

							<h2>활동 <span class="size-18">/What we do</span></h2>

							<!-- news item -->
							<div class="inews-item">
								<a class="inews-thumbnail" href="#activity">

									<img class="img-responsive" src="<%= asset_path 'ror.png'%>" alt="image" />
								</a>

								<div class="inews-item-content">

									<div class="inews-date-wrapper">
										<span class="inews-date-day"></span>
										<span class="inews-date-month"></span>
										<span class="inews-date-year">Learn</span>
									</div>

									<div class="inews-content-inner">

										<h3 class="size-20"><a href="#activity">HTML/CSS, Javascript, ROR <br> AWS, GITHUB, SLACK, TRELLO</a></h3>
										<ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
											<li>

													<i class="fa fa-user"></i>
													<span class="font-lato">By 학교별 튜터</span>

											</li>

										</ul>

										<p>ROR(Ruby on Rails)을 기반으로 하고 위의 언어들을 배우면서 최신 기술 스택 및 툴을 활용해 웹 프로그래밍을 배웁니다.</p>
									</div>


								</div>
							</div>
							<!-- /news item -->

							<!-- news item -->
							<div class="inews-item">
								<a class="inews-thumbnail" href="#activity">

									<img class="img-responsive" src="<%= asset_path 'ideathon.png'%>" alt="image" />
								</a>

								<div class="inews-item-content">

									<div class="inews-date-wrapper">
										<span class="inews-date-day"></span>
										<span class="inews-date-month"></span>
										<span class="inews-date-year">Think</span>
									</div>

									<div class="inews-content-inner">

										<h3 class="size-20"><a href="#activity">멋쟁이사자처럼 IDEATHON</a></h3>
										<ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
											<li>

													<i class="fa fa-user"></i>
													<span class="font-lato">With 멋쟁이사자처럼</span>

											</li>

										</ul>

										<p>타학교 멋쟁이사자들과 다양한 아이디어를 자랑하는 공식행사인 '아이디어톤'에 출전합니다. 여러분의 상상력과 톡톡뒤는 아이디어를 펼쳐보세요. 순위권 팀에게는 서비스 구현을 위한 기술 지원 및 전문가의 컨설팅을 받을 수 있는 기회가 주어집니다.</p>
									</div>


								</div>
							</div>
							<!-- /news item -->



							<!-- news item -->
							<div class="inews-item">
								<a class="inews-thumbnail" href="#activity">

									<img class="img-responsive" src="<%= asset_path 'hackathon.jpg'%>" alt="image" />
								</a>

								<div class="inews-item-content">

									<div class="inews-date-wrapper">
										<span class="inews-date-day"></span>
										<span class="inews-date-month"></span>
										<span class="inews-date-year">Make</span>
									</div>

									<div class="inews-content-inner">

										<h3 class="size-20"><a href="#activity">멋쟁이사자처럼 HACKATHON</a></h3>
										<ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
											<li>

													<i class="fa fa-user"></i>
													<span class="font-lato">With 멋쟁이사자처럼</span>

											</li>

										</ul>

										<p>교육 및 스터디를 통해 기른 실력으로 멋쟁이 사자처럼의 공식행사인 해커톤에 출전합니다. 상상에 그쳤던 아이디어를 모든 사자들이 모여 무박2일 동안 구현합니다. 여러분의 모든 것을 쏟아 사이트를 구현하고 실제 서비스하기 위한 좋은 기회이자 새로운 시작입니다.</p>
									</div>


								</div>
							</div>
							<!-- /news item -->

							<!-- news item -->
							<div class="inews-item">
								<a class="inews-thumbnail" href="#activity">

									<img class="img-responsive" src="<%= asset_path 'googlenaws.jpg'%>" alt="image" />
								</a>

								<div class="inews-item-content">

									<div class="inews-date-wrapper">
										<span class="inews-date-day"></span>
										<span class="inews-date-month"></span>
										<span class="inews-date-year">후원사</span>
									</div>

									<div class="inews-content-inner">

										<h3 class="size-20"><a href="#activity">Google, AWS, fuse, Smilegate 등</a></h3>
										<ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
											<li>

													<i class="fa fa-user"></i>
													<span class="font-lato">By 구글, AWS, 퓨즈, 스마일게이트 등</span>

											</li>

										</ul>

										<p>Google, AWS, Fuse, Smilegate 등 공식 후원사로서 여러 기업들이 함께 하고 있습니다.
											4기는 해외 포함 130개 학교와 함께 했습니다. 2017년은 미국, 일본, 호주와 동시에 진행됩니다.</p>
									</div>


								</div>
							</div>
							<!-- /news item -->

						</div>

						<!-- LEFT -->


					</div>

				</div>
			</section>
			<!-- /Reservation -->











			<!-- FOOTER -->
			<footer id="footer">
							<div class="container">

					<div class="row text-center">
						<div class="logo">
							<img class="footer-logo" src="<%= asset_path 'mark_dgulikelion.png'%>"/>
						</div>
						<!-- Newsletter Form -->
						<h1 class="letter-spacing-1">CONTACT</h1>



						<!-- /Newsletter Form -->

						<!-- Social Icons -->
						<div class="margin-top-0 margin-bottom-50">


								<a href="http://facebook.com/dgulion"><img src="<%= asset_path 'facebook.png'%>" width="50px;" height="50px;" alt="페이스북 페이지(http://facebook.com/dgulion) 메신저" class="sns-icon"></a>
								<a href="https://open.kakao.com/o/s0Bivps"><img src="<%= asset_path 'talk.png'%>" width="50px;" height="50px;" alt = "오픈 카톡 '#멋사동대' 검색" class="sns-icon"></a>
								<a href="https://plus.kakao.com/home/@%EB%A9%8B%EC%82%AC%EB%8F%99%EB%8C%80"><img src="<%= asset_path 'yellowid.png'%>" width="50px;" height="50px;" alt="Yellow ID '@멋사동대' 검색" class="sns-icon"></a>
								<br>
						</div>
						<!-- /Social Icons -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<center><font color="#FFFFFF" size="1px;">동국대학교 멋쟁이 사자처럼&nbsp&nbsp&nbsp&nbsp&nbsp
							대표: 전민호&nbsp&nbsp&nbsp&nbsp&nbsp
							사이트만든이: 박성준</font></center>
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->


		</div>